torch==1.7.1
easydict==1.13
h5py==3.1.0
matplotlib==3.3.4
numpy==1.19.5
open3d==0.9.0.0
pyyaml==6.0.1
scipy==1.5.4
tensorboardX==2.6.2.2
timm==0.4.5
tqdm==4.64.1
transforms3d==0.4.2
termcolor==1.1.0
opencv-python==3.4.18.65
